<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Gustavo
                <span class="text-primary">Salgado Lima</span>
            </h1>
            <div class="subheading mb-5">
                São Paulo · Brazil · (11) 998333-3858 ·
                <a href="mailto:gustavosalgadolima@gmail.com">gustavosalgadolima@gmail.com</a>
            </div>
            <p class="lead mb-5"> Eu sou um estudante de Ciência da Computação, atualmente focado como Programador Web, especializado na criação de sites responsivos e Landing Pages para empresas de pequeno a médio porte.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/gustavo-salgado-lima/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/GusGul"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experiências</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Desenvolvedor Python</h3>
                    <div class="subheading mb-3">Estagiário</div>
                    <p>Auxiliar com as manutenções dos equipamentos; auxiliar com programações; auxiliar e desenvolver módulos em Python no Odoo dentro do sistema ERP.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2022 - Present</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Formações</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Universidade Paulista</h3>
                    <div class="subheading mb-3">Bacharelado em Ciência da Computação</div>
                    <div></div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Julho 2021 - Junho 2025</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Universidade Anhembi Morumbi</h3>
                    <div class="subheading mb-3">Bacharelado em Design de Games</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janeiro 2018 - Dezembro 2020</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Conhecimentos</h2>
            <div class="subheading mb-3">Ferramentas & Linguagens de Programação</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fa-brands fa-java"></i></li>
                <li class="list-inline-item"><i class="fa-brands fa-python"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Design Responsivo
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Metodologia Ágil & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Certificados</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Python for Data Analysis - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    CS50: Introduction to Computer Science - Harvard University Certification
                </li>
            </ul>
        </div>
    </section>
</div>