<section class="main default">
    <div>
        <h1>Gustavo Salgado Lima</h1>
        <p class="subtitulo">I'm a <strong>Full-Stack developer</strong> and a <strong>Computer Science student</strong>. Let's <strong>start scrolling</strong> and learn more <strong>about me</strong></p>

        <nav>
            <a>
                <img>
            </a>
            <a>
                <img>
            </a>
        </nav>
    </div>
</section>
<section class="about default">
    <div>
        <p>teste</p>
    </div>
    <div>
        <p>teste</p>
    </div>
</section>