<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experiências</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Desenvolvedor Python</h3>
                    <div class="subheading mb-3">Estagiário</div>
                    <p>Auxiliar com as manutenções dos equipamentos; auxiliar com programações; auxiliar e desenvolver módulos em Python no Odoo dentro do sistema ERP.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">November 2022 - Present</span></div>
            </div>
        </div>
    </section>
</div>