div {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
}

h1 {
    font-size: 24px;
    color: whitesmoke;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}