.diretivas {
    margin: 0 auto;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    list-style: none;
}

img {
    border: 1px solid black;
    width: 250px;
    height: 300px;
}

.verde {
    border: 2px solid green;
    box-shadow: 0 0 10px green;
}

.vermelho {
    border: 2px solid red;
    box-shadow: 0 0 10px red;
}

.ngClass {
    margin: 5px auto;
    max-width: 580px;
}

.ngClass p {
    margin: 5px;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}