<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Gustavo
                <span class="text-primary">Salgado Lima</span>
            </h1>
            <div class="subheading mb-5">
                São Paulo · Brazil · (11) 998333-3858 ·
                <a href="mailto:gustavosalgadolima@gmail.com">gustavosalgadolima@gmail.com</a>
            </div>
            <p class="lead mb-5"> Eu sou um estudante de Ciência da Computação, atualmente focado como Programador Web, especializado na criação de sites responsivos e Landing Pages para empresas de pequeno a médio porte.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/gustavo-salgado-lima/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/GusGul" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
</div>