<div class="text-center topo">

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">

        <div class="p-2">
            <input 
                class="form-control" type="email" placeholder="Email" 
                name="email" [(ngModel)]="email" email required
                [ngClass]="form.controls['email']?.invalid && form.controls['email']?.touched ? 'is-invalid' : ''" #emailInput>
        </div>

        <div class="p-2">
            <input 
                class="form-control" type="password" placeholder="Senha" 
                name="password" [(ngModel)]="password" required
                [ngClass]="form.controls['password']?.invalid && form.controls['password']?.touched ? 'is-invalid' : ''" #passwordInput>
        </div>

        <div *ngIf="mensagem" class="alert alert-danger mt-3 mb-3">
            Email ou senha incorretos.
        </div>

        <div class="p-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </div>

    </form>

</div>