<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/">
        <img src="favicon.ico" height="30" width="30" alt="" loading="lazy" />
      </a>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/property-binding" routerLinkActive="active">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/diretivas" routerLinkActive="active">Diretivas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/http-api" routerLinkActive="active">Rotas/Módulos/Interfaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contatos" routerLinkActive="active">Contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/countries" routerLinkActive="active">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" routerLinkActive="active">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-list" routerLinkActive="active">Products List<span> ( {{ this.productObserverService.quantity }} )</span></a>
          </li>
          <li class="nav-item" *ngIf="logadoService.logado">
            <a class="nav-link border border-danger rounded" href="javascript:;" (click)="logadoService.deslogar()">Sair</a>
          </li>
        </ul>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>