<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Formações</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Universidade Paulista</h3>
                    <div class="subheading mb-3">Bacharelado em Ciência da Computação</div>
                    <div></div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Julho 2021 - Junho 2025</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Universidade Anhembi Morumbi</h3>
                    <div class="subheading mb-3">Bacharelado em Design de Games</div>
                    <p></p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Janeiro 2018 - Dezembro 2020</span></div>
            </div>
        </div>
    </section>
</div>