<div class="container text-center p-5">

    <div class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only"></span>
    </div>

    <div *ngIf="errorLoading">
        <h2>Deu erro! 😭</h2>
    </div>

    <table class="table table-hover table-dark" *ngIf="!loading && !errorLoading">
        <thead class="table-active">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transacao of transacoes">
                <th  scope="row">{{transacao.id}}</th>
                <td>{{transacao.data | date}}</td>
                <td>{{transacao.descricao}}</td>
                <td>{{transacao.valor.toString()| currency:'BRL'}}</td>
                <td>{{transacao.categoria}}</td>
            </tr>
        </tbody>
    </table>
</div>