/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Asap', sans-serif;
}

body {
    background-color: rgba(43,43,43,255);
}