<section class="diretivas">
    <h3>Exercício Memes Diretivas</h3>

    <ul>
        <li *ngFor="let memesAgrupados of MEMES_AGRUPADOS_POR_CATEGORIA">
            <br>
            <h3>{{ memesAgrupados.categoria }}</h3>

            <div *ngFor="let meme of memesAgrupados.memes; let par = even">
                <!-- Imagens pares não aparecem, apenas as ímpares -->
                <img [src]="PREFIXO_IMAGEM_URL + meme.imagemURL" *ngIf="par">
            </div>
        </li>
    </ul>
</section>

<br><hr><br>

<section class="diretivas">
    <h3>Exemplo ngClass</h3>

    <div class="ngClass">

        <button (click)="tornarVerde()">Alternar cor</button>

        <p [ngClass]="deveSerVerde ? 'verde' : 'vermelho'"> Teste para ngClass </p>

        <p [ngClass]="{
            'verde': deveSerVerde,
            'vermelho': !deveSerVerde
        }"> Teste para ngClass 2 </p>

        <p [class.verde]="deveSerVerde">Teste Property Binding Class</p>

    </div>
</section>

<br><hr><br>