<!-- Page Content-->
<div class="container-fluid p-0 limita-secao">

    <form>
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label for="formFirstname">Nome</label>
                <input type="text" class="form-control" id="formFirstname" name="nome" [(ngModel)]="cliente.nome" placeholder="Nome" required>
            </div>
            <div class="col-md-6 mb-2">
                <label for="formLastname">Sobrenome</label>
                <input type="text" class="form-control" id="formLastname" name="sobrenome" [(ngModel)]="cliente.sobrenome" placeholder="Sobrenome" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" [(ngModel)]="cliente.email" placeholder="Email">
            </div>
            <div class="form-group col-md-12">
                <label for="inputTel4">Telefone</label>
                <input type="tel" class="form-control" id="inputTel4" name="telefone" [(ngModel)]="cliente.telefone" placeholder="Telefone">
            </div>
            <div class="form-group col-md-12">
                <label for="inputValor">Orçamento Inicial</label>
                <input type="number" class="form-control" id="inputValor" name="valor" [(ngModel)]="cliente.valor" placeholder="0,0">
            </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="adicionar()">Enviar</button>
    </form>

    <br><br><br>

    <div *ngIf="clientes.length<=0">

    </div>
    <table *ngIf="clientes.length>0" class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">Orçamento Inicial</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <th scope="row">{{ cliente.id }}</th>
            <td>{{ cliente.nome }} {{ cliente.sobrenome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone | formatarTelefone}}</td>
            <td>{{ cliente.valor.toString() | currency:"BRL" }}</td>
            <td><button type="button" class="btn btn-warning bg-warning">Alterar</button>
              <button type="button" class="btn btn-danger bg-danger text-dark">Excluir</button></td>
          </tr>
        </tbody>
      </table>

</div>